[Desktop Entry]
Version=1.5
Type=Application
Name=Schrumpf
GenericName=Image conversion/scaling
GenericName[de]=Bildkonvertierung/-skalierung
Comment=Converts image formats and scales images
Comment[de]=Konvertiert Bildformate und skaliert Bilder
Exec=/usr/bin/schrumpf
Icon=/usr/lib/schrumpf/app/resources/schrumpf.png
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
StartupNotify=true
